html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
}

img {
    height: 30px;
    cursor: pointer;
}

h2 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    margin-bottom: 10px;
}

header {
    background-color: #967e7e;
    height: 10%;
    margin-bottom: 10px;
}

.sidebar {
    background-color: #c0c0c0;
    flex-grow: 1;
    margin-right: 10px;
}

.notesContainer {
    background-color: #ece8e7;
    flex-grow: 4;
    text-align: center;
}

.buttonContainer {
    height: 7.5%;
    text-align: left;
    min-height: 56px;
}   

.bottom {
    text-align: center;
}

textarea {
    height: 85%;
    width: 85%;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    padding: 12px;
    box-sizing: border-box;
}

footer {
    background-color: #debcba;
    height: 10%;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
    color: white;
    cursor: pointer;
}

#newNote {
    background-color: #60987d;
    position: relative;
    left: 25px;
    top: 50%;
    transform: translate(0, -50%);
}

#darkTheme {
    background-color: #696969;
    float: right;
    position: relative;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);
}

#save {
    background-color: #60987d;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#cancel {
    background-color: #d23c23;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.logoContainer {
    position: relative;
    top: 35%;
    text-align: center;
}